<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/logo.png" />
    <meta
      name="viewport"
      content=" width=device-width, initial-scale=1.0,shrink-to-fit=no maximum-scale=1.0, minimum-scale=1.0,user-scalable=no, viewport-fit=cover"
    />
    <meta
      name="keywords"
      content="小米盲盒,CSGO开箱,饰品开箱,抽皮肤平台,steam开箱"
    />
    <meta
      name="description"
      content="小米盲盒专业的电竞开箱网站，海量饰品，高爆箱子，精美皮肤，即开即提，口碑爆裂的开箱平台。全网爆率超高的电竞平台。锦鲤彩蛋，吉祥运转。更有精美福利，下一个开箱欧皇就是你。"
    />
    <title><%= title %></title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <noscript>
      We're sorry but <%= title %> doesn't work properly without JavaScript
      enabled.
    </noscript>
  </body>
</html>
