.match-details {
    width: 100%;
    padding-top: 78px;
    padding-bottom: 150px;
    &-live {
        width: 100%;
        padding-top: 10px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-image: url("@assets/images/video/video_bg.png");
        &-box {
            width: 100%;
            height: 660px;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, .9);
        }
    }
    &-main {
        width: 100%;
        margin: 40px auto 0;
    }
}