@import './scss/flex.scss';
@import './scss/px.scss';
@import './scss/other.scss';

body {
    min-width: 1400px;
    background-color: #f7f7f8;
}
.main {
    margin: auto;
    width: 1400px;
}
.list {
    overflow: hidden;
    &-cell {
        padding: 0 30px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        &:first-child {
            background-color: #e9eefc;
            .team-ball {
                padding-left: 56px;
            }
        }
    }
    div {
        flex: 1;
        height: 70px;
        line-height: 70px;
        text-align: center;
        color: #000;
        font-size: 18px;
        font-weight: bold;
        font-family: DengXian;
        &.team-ball {
            min-width: 360px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            & > div {
                text-align: left;
            }
            & > img {
                width: 40px;
                height: 40px;
                margin-right: 16px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}